* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

div {
  text-align: center;
}

div h1 {
  margin: 30px;
}

div .btn {
  color: #fff;
  background: #333;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1.5px #333 solid;
  border-radius: 3px;
}

div .btn:hover {
  color: #333;
  background: #fff;
}